<div class="container">
	<div class="row">
		<div class="panel col-md-7" style="background-color: whitesmoke;">
	    <div class="panel-body">
	      <div class="row">
		      <div class="col-md-1">
		      </div>
		      <div class="col-md-11">
		        <form method="POST" action="#" role="form">
							<div class="form-group row">
							  <div class="col-md-4">
								  <label class="control-label" for="signupName">Title</label>
								</div>
								<div class="col-md-6">
								  {{input value=model.qwerty class="form-control"}}
								</div>
							</div>
							
              <div class="form-group row">
                <div class="col-md-4">
                  <label class="control-label" for="signupName">class</label>
                </div>
                <div class="col-md-6">
                  {{input value=model.class class='form-control'}}
                </div>
              </div>
							<!-- attributes go here -->
						</form>
				  </div>  
				</div>					
			</div>
		</div>
	</div>
</div>