<h1>Show Qwerty</h1>
 <div class="crud-input">Title: {{model.qwerty}}</div>
  <div class="crud-attr">class: {{model.class}}</div>
<!-- attributes go here -->
<hr>
{{#link-to 'qwertys.qwerty.edit' model tagname="button" }}Edit{{/link-to}}

<button {{action 'delete'}} class="pull-right">Delete</button>